<?xml version="1.0"?>
<config>
    <modules>
        <Weprovide_CampaignMonitor>
            <version>0.2.1</version>
        </Weprovide_CampaignMonitor>
    </modules>
    <frontend>
        <routers>
            <campaignmonitor>
                <use>standard</use>
                <args>
                    <module>Weprovide_CampaignMonitor</module>
                    <frontName>campaignmonitor</frontName>
                </args>
            </campaignmonitor>
        </routers>
    </frontend>
    <global>
        <helpers>
            <campaignmonitor>
                <class>Weprovide_CampaignMonitor_Helper</class>
            </campaignmonitor>
        </helpers>
        <models>
            <campaignmonitor>
                <class>Weprovide_CampaignMonitor_Model</class>
            </campaignmonitor>
        </models>
        <resources>
            <campaignmonitor_setup>
                <setup>
                    <module>Weprovide_CampaignMonitor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </campaignmonitor_setup>
            <campaignmonitor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </campaignmonitor_write>
            <campaignmonitor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </campaignmonitor_read>
        </resources>
        <events>
            <default>
                <observers>
                    <default_campaign_monitor_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer_autoload</class>
                        <method>autoLoad</method>
                        <args></args>
                    </default_campaign_monitor_handler>
                </observers>
            </default>
            <controller_front_init_before>
                <observers>
                    <controller_front_init_before_campaign_monitor_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer_autoload</class>
                        <method>autoLoad</method>
                        <args></args>
                    </controller_front_init_before_campaign_monitor_handler>
                </observers>
            </controller_front_init_before>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <newsletter_subscriber_save_commit_after_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer_subscribe</class>
                        <method>save</method>
                        <args></args>
                    </newsletter_subscriber_save_commit_after_handler>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <newsletter_subscriber_delete_after_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer_subscribe</class>
                        <method>delete</method>
                        <args></args>
                    </newsletter_subscriber_delete_after_handler>
                </observers>
            </newsletter_subscriber_delete_after>
            <admin_system_config_changed_section_campaignmonitor>
                <observers>
                    <admin_system_config_changed_section_campaignmonitor_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer_config</class>
                        <method>initDefaultCustomFields</method>
                        <args></args>
                    </admin_system_config_changed_section_campaignmonitor_handler>
                    <admin_system_config_changed_section_campaignmonitor_unsubscribeurl_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer_config</class>
                        <method>setUnsubscribeUrl</method>
                        <args></args>
                    </admin_system_config_changed_section_campaignmonitor_unsubscribeurl_handler>
                    <admin_system_config_changed_section_campaignmonitor_webhook_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer_config</class>
                        <method>createWebhook</method>
                        <args></args>
                    </admin_system_config_changed_section_campaignmonitor_webhook_handler>
                </observers>
            </admin_system_config_changed_section_campaignmonitor>
        </events>
    </global>
    <crontab>
        <jobs>
            <campaignmonitor_import>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>campaignmonitor/cron::import</model></run>
            </campaignmonitor_import>
        </jobs>
    </crontab>
</config>