<?xml version="1.0"?>
<config>
    <modules>
        <Weprovide_CampaignMonitor>
            <version>0.1.0</version>
        </Weprovide_CampaignMonitor>
    </modules>
    <frontend>
        <routers>
            <campaignmonitor>
                <use>standard</use>
                <args>
                    <module>Weprovide_CampaignMonitor</module>
                    <frontName>campaignmonitor</frontName>
                </args>
            </campaignmonitor>
        </routers>
    </frontend>
    <global>
        <helpers>
            <campaignmonitor>
                <class>Weprovide_CampaignMonitor_Helper</class>
            </campaignmonitor>
        </helpers>
        <models>
            <campaignmonitor>
                <class>Weprovide_CampaignMonitor_Model</class>
            </campaignmonitor>
        </models>
        <events>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <newsletter_subscriber_save_commit_after_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer</class>
                        <method>save</method>
                        <args></args>
                    </newsletter_subscriber_save_commit_after_handler>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <newsletter_subscriber_delete_after_handler>
                        <type>model</type>
                        <class>campaignmonitor/observer</class>
                        <method>delete</method>
                        <args></args>
                    </newsletter_subscriber_delete_after_handler>
                </observers>
            </newsletter_subscriber_delete_after>
        </events>
    </global>
    <admin>
        <routers>
            <campaignmonitor>
                <use>admin</use>
                <args>
                    <module>Weprovide_CampaignMonitor</module>
                    <frontName>admin_campaignmonitor</frontName>
                </args>
            </campaignmonitor>
        </routers>
    </admin>
</config>