<?xml version="1.0"?>
<config>
    <tabs>
        <weprovide translate="label" module="campaignmonitor">
            <label>We/Provide</label>
            <sort_order>0</sort_order>
        </weprovide>
    </tabs>
    <sections>
        <campaignmonitor  translate="label" module="campaignmonitor">
            <label>Campaign Monitor</label>
            <tab>weprovide</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configuration translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <api_key translate="label">
                            <label>API KEY</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <subscribe_list_api_key translate="label">
                            <label>Subscribe list API KEY</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </subscribe_list_api_key>
                    </fields>
                </configuration>
            </groups>
        </campaignmonitor>
    </sections>
</config>
